<h1>Hotels</h1>

<% @hotel.each do |h| %>
     <div id="background">
    <div class="title">
      <%= link_to h.title, h %><br />
      <%= image_tag h.image_url.to_s %>

     </div>

    Price: <div class='price'><%= h.price  %></div>

    </div>
         <hr>
<% end %>


<p><%= link_to "New Hotel", new_hotel_path, :class=> 'btn btn-inverse' %></p>